@import url('https://fonts.googleapis.com/css2?family= Martel: wght @200 & display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Martel', serif;
}

#capa {
    /* height: 90vh; */
    /* width: 100%; */
    background-size: cover;
    background-position: top 25% right 0%;
    padding-top: 250px;
    /* padding: 0 80px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    color: #2E42AF;
    line-height: 80px;

    /* border: 3px solid red; */
}

#capa h1 {
    /* border: 1px solid red; */
    font-size: 60px;
    margin-bottom: 0%;
}

#capa h2 {
    /* border: 1px solid red; */
    font-size: 100px;
    margin-bottom: 0%;
    margin-top: 120px;

}

#capa p {
    /* border: 1px solid red; */
    font-size: 30px;
    margin-top: 0px;
}

#capa .localizacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
    margin-top: 150px;
}

#capa .localizacao img {
    /* border: 1px solid red; */
    width: 70px;
    height: 70px;

}

#capa .localizacao :hover img {
    /* border: 1px solid red; */
    width: 80px;
    height: 80px;
}

#capa .localizacao p {
    visibility: hidden;
    font-size: 20px;
}

#capa .localizacao:hover p {
    visibility: visible;
}