footer {
    display: flex;
    flex-direction: column;
    background: #2E42AF;
    margin-top: 100px;
    align-items: center;

}

.link_redes {
    display: flex;
    flex-direction: row;
    border: 1px solid red;


}

.link_redes img {
    width: 40px;
    height: 40px;
    margin: 20px;

}

footer p {
    font-size: 20px;
    color: white;
}