@import url('https://fonts.googleapis.com/css2?family= Martel: wght @200 & display=swap');

* {
    box-sizing: border-box;
    font-family: 'Martel', serif;
}

header {
    display: flex;
    flex: 50%;
    flex-direction: column;
    margin-top: 300px;
    margin-left: 150px;
    margin-right: 100px;
    /* border: 1px solid red; */
    align-items: center;
    color: #2E42AF;
}

header h1 {
    /* border: 1px solid red; */
    font-size: 60px;
    margin-bottom: 0%;
}

header h2 {
    /* border: 1px solid red; */
    font-size: 80px;
    margin-bottom: 0%;
    margin-top: 50px;

}

header p {
    /* border: 1px solid red; */
    font-size: 30px;
    margin-top: 0px;
}

header .localizacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
    margin-top: 150px;
}

header .localizacao img {
    /* border: 1px solid red; */
    width: 70px;
    height: 70px;

}

header .localizacao :hover img {
    /* border: 1px solid red; */
    width: 80px;
    height: 80px;
}

header .localizacao p {
    visibility: hidden;
    font-size: 20px;
}

header .localizacao:hover p {
    visibility: visible;
}