@import url('https://fonts.googleapis.com/css2?family= Martel: wght @200 & display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Martel', serif;

}

body {
    width: 100%;
    background-color: rgb(252, 252, 252);
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background: rgb(255, 255, 255);
    box-shadow: 0 5px 15px rgba(0, 5, 0, 0);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    justify-content: center;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 25px;
    font-weight: 200;
    color: #2E42AF;
    margin-left: 20px;
    margin-right: 20px;
    /* transition: 0.3s ease; */

}

#navbar li a:hover,
#navbar li a.active {
    color: #01a43d;
    padding-bottom: 5px;
    /* font-size: 26px; */
    font-weight: 600;
    border-bottom: 2px solid #01a43d;
}