@import url('https://fonts.googleapis.com/css2?family= Martel: wght @200 & display=swap');

* {
    box-sizing: border-box;
    font-family: 'Martel', serif;
}

body section {
    border: 7px solid blue;
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    margin-right: 100px;
    margin-top: 100px;
}

.sobre {
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(255, 98, 0);
}

.sobre img {
    border: 1px solid rgb(255, 98, 0);
    width: 500px;
    height: 400px;

}

.sobre .sobremim {
    flex: 70%;
    border: 1px solid rgb(255, 98, 0);
    margin-left: 150px;
}

.sobre .sobremim h2 {
    font-size: 30px;

}

.sobre .sobremim p {
    text-align: justify;
    font-size: 22px;
    padding-top: 0px;
}

.linguagem {
    display: flex;
    flex-flow: column;
    margin-top: 200px;
    border: 1px solid rgb(255, 98, 0);
    text-align: center;
}

.linguagem .linguagens {
    display: flex;
    flex-flow: row;
}

.linguagens .linguagensU {
    flex: 50%;
    display: flex;
    flex-flow: column;
    border: 1px solid rgb(9, 255, 0);
}

.linguagens .linguagensF {
    flex: 50%;
    display: flex;
    flex-flow: column;
    border: 1px solid rgb(9, 255, 0);
}

#items {
    display: flex;
    flex-flow: nowrap;
}

#cadaItem {
    display: flex;
    flex-flow: column;
}

#cadaItem img {
    width: 100px;
    height: 100px;
    margin-left: 50px;
}

#cadaItem p {
    margin-left: 50px;
}

.projectos {
    display: flex;
    flex-flow: column wrap;
    margin-top: 200px;
    border: 1px solid rgb(255, 98, 0);
}

.projectos2 {
    display: flex;
    flex-flow: row wrap;

    border: 1px solid rgb(255, 98, 0);
}

.projectos2 p {
    text-align: center;
    font-size: 50px;
}

.projectos img {
    height: 500px;
    width: 650px;
    margin: 30px;
}