body section {
    /* border: 7px solid blue; */
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
}

.sobre {
    display: flex;
    flex-direction: row;
}

.sobre img {
    border: 1px solid rgb(255, 98, 0);
    width: 600px;
    height: 500px;

}

.sobre .sobremim {
    flex: 50%;
    border: 1px solid rgb(255, 98, 0);
    margin-left: 150px;
}

.sobre .sobremim h2 {
    font-size: 30px;

}

.sobre .sobremim p {
    text-align: justify;
    font-size: 22px;
    padding-top: 0px;
}

.linguagens {
    display: flex;
    flex-flow: column wrap;
    margin-top: 200px;
    border: 1px solid rgb(255, 98, 0);
    text-align: center;
}

.linguagens .linguagensU {
    flex: 50%;
    display: flex;
    flex-flow: row wrap;
}

.linguagens .linguagensF {
    flex: 50%;
    display: flex;
    flex-flow: row wrap;
}

.linguagens .linguagensU img {
    width: 50px;
    height: 50px;
}

.linguagens .linguagensF img {
    width: 50px;
    height: 50px;
}


.projectos {
    display: flex;
    flex-flow: row wrap;
    margin-top: 200px;
    border: 1px solid rgb(255, 98, 0);
}

.projectos2 {
    display: flex;
    flex-flow: column wrap;

    border: 1px solid rgb(255, 98, 0);
}

.projectos2 p {
    text-align: center;
    font-size: 50px;
}

.projectos img {
    height: 500px;
    width: 650px;
    margin: 30px;
}